/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/* fuentes */

/* menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #0C134F;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #D4ADFC;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu li a:hover {
  background-color: #111;
  border-radius: 10px;
  opacity: 80%;
}

.active {
    background-color: #5C469C;
    border-radius: 10px;
  }

  @media (max-width: 800px) {
    .menu li {
        float: none;
      }
  }
/* menu */

/* general */
body{
    margin: 0;
    padding: 0;
    background-color: #1D267D;
}

a{
    text-decoration: none;
    color: inherit;
}

.page-title{
  color: #D4ADFC;
  text-align: center;
  font-size: 3rem;
}
/* general */

/* galeria de trabajos */
.work-gallery{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  margin: 60px 0px 60px 0px;
  background-color: black;
}

.work-gallery img{
  max-width: 400px;
  padding: 0.3rem;
}
/* galeria de trabajos */

/* galeria principal provisoria */
div.gallery {
  border: 2px solid #D4ADFC;
  border-radius: 5px;
  background-color: #0C134F;
}

div.gallery:hover {
  border: 2px solid #777;
  opacity: 70%;
}

div.gallery img {
  width: 100%;
  height: 200px;
  border-radius: 4px 4px 0px 0px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #D4ADFC;
}

* {
  box-sizing: border-box;
}

.responsive-gallery {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive-gallery {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive-gallery {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.gallery-container{
  margin: 60px 10px 60px 10px;
}
/* galeria principal provisoria */

/* footer */
.footer-container img:hover{
    opacity: 80%;
}

.footer-container img{
    width: 35px;
    padding: 10px;
    background-color: #D4ADFC;
    border-radius: 40%;
}

.footer-container{
    background-color: #0C134F;
    width: 100%;
    text-align: center;
    padding: 50px 0px 50px 0pc ;
    color: #D4ADFC;   
    display: block; 
}
/* footer */