/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* fuentes */

/* menu */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  background-color: #E144E9;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.menu li a:hover {
  background-color: #111;
  border-radius: 10px;
  opacity: 80%;
}

.active {
    background-color: #E16CEA;
    border-radius: 10px;
  }

  @media (max-width: 1100px) {
    .menu li {
        float: none;
      }
  }
/* menu */

/* general */
body{
    margin: 0;
    padding: 0;
    background-color: #9BFF92;
}

a{
    text-decoration: none;
    color: inherit;
}

.page-title{
  color: white;
  text-align: center;
  font-size: 3rem;
  font-family: 'Pacifico', cursive;
}
/* general */

/* galeria de trabajos */
.work-gallery{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding: 20px 0px 20px 0px;
  margin: 60px 0px 60px 0px;
  background-color: #68E88A ;
}

.work-gallery img{
  max-width: 400px;
  padding: 0.3rem;
}
/* galeria de trabajos */

/* pruebas */
.pruebasv1{
  margin: 50px 0px 50px 0px;
  height: 600px;
  width: 100%;
  background-color: #68E88A;
}
/* pruebas */

/* footer */
.footer-container img:hover{
    opacity: 80%;
}

.footer-container img{
    width: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 40%;
}

.footer-container{
    background-color: #E144E9;
    width: 100%;
    text-align: center;
    padding: 50px 0px 50px 0pc ;
    color: white;   
    display: block; 
}
/* footer */